:root {
  --accent: #4d5ae5;
  --white: #ffffff;
  --navyblue: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --ocean: #404bbf;
}

/* * Global */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: var(--white);
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.btn {
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

address {
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--accent);
}

.section {
}

.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* * Header */

.header {
  background-color: var(--white);
}
.nav {
}
.logo_header {
  color: var(--navyblue);
}
.nav-list {
}
.nav-list_item {
}
.nav-list_link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--navyblue);
}
/* .nav-list_link.active {
  color: var(--ocean);
} */
.nav-list_link:hover,
.nav-list_link:focus {
  color: var(--ocean);
}

.address {
}
.adddres-list {
}
.addres-item {
}
.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--slate);
}
.address-link:hover,
.address-link:focus {
  color: var(--ocean);
}

/* * Hero section */

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-btn {
  background: var(--accent);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--ocean);
}

/* Features */
.features {
  background-color: var(--white);
}
.features-title {
}
.features-list {
}
.features-item {
}
.features-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.features-desc {
  color: var(--slate);
}

/* * Duties */

.duties {
  background-color: var(--white);
}
.section-title {
}
.duties-list {
}
.duties-item {
}
.duties-img {
}

/* * Our team */

.team {
  background: var(--cloud);
}
.team-list {
}
.team-item {
  background-color: var(--white);
}
.team-avatar {
}

.team-name {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.team-position {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* * Portfolio */
.filter-btn {
  color: var(--accent);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--cloud);
}
/* .filter-btn.active {
  background: var(--ocean);
  color: var(--white);
} */
.filter-btn:hover,
.filter-btn:focus {
  color: var(--white);
  background-color: var(--ocean);
}
.portfolio-link {
}

.portfolio-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.portfolio-content {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* * Footer  */

.footer {
  background: var(--navyblue);
}
.logo_footer {
  color: var(--cloud);
}

.footer-slogan {
  color: var(--cloud);
}
